<div class="jumbotron" style="padding: 45px 0px">
  <h3 class="text-center">To Do App</h3>
</div>

<div class="input-group">
  <input type="text" class="form-control" #toDoTitle />
  <div class="input-group-addon hover-cursor" (click)="onAdd(toDoTitle)">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin: 5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoListArray">
      <span class="hover-cursor">
        <i class="far" [ngClass]="item.isChecked? 'far fa-check-circle' :'far fa-circle'" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key, item.isChecked)">
        </i>
        {{item.title}}
        <span class="hover-cursor text-danger pull-right">
          <i class="fas fa-trash-alt fa-lg>" (click)="onDelete(item.$key)"></i>
        </span>
      </span>
    </li>
  </ul>
</div>